.brands {
  /* .brands__body */

  &__body {
    padding: 43px 124px 60px 124px;
    background-color: #323232;
    border-radius: 12px;
  }

  /* .brands__title */

  &__title {
    text-align: center;
    color: $mainTextColor;
    font-size: 50px;
    font-family: "Core Sans C";
    font-weight: 800;
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  /* .brands__subtitle */

  &__subtitle {
    text-align: center;
    color: $mainTextColor;
    font-size: 22px;
    font-family: "Causten";
    font-weight: 400;
    span {
      color: #fbd103;
      font-weight: 700;
    }
    &:not(:last-child) {
      margin-bottom: 67px;
    }
  }

  /* .brands__block */

  &__block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
  }

  /* .brands__item */

  &__item {
    padding: 10px 12px;
    flex: 0 1 177px;
    width: 177px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: $mainTextColor;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
@media (max-width: $laptop) {
  .brands {
    &__body {
      padding: 20px 60px 20px 60px;
    }
  }
}
@media (max-width: $tablet) {
  .brands {
    &__body {
      padding: 20px;
    }
    &__title {
      font-size: 44px;
    }
    &__subtitle {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }
}
@media (max-width: $mobile) {
  .brands {
    &__title {
      font-size: 38px;
    }
    &__item {
      flex: 0 1 100px;
      width: 100px;
    }
  }
}
