.pageup {
  display: block;
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 36px;
  height: 36px;
  border: 2px solid #316775;
  background: #316775;
  border-radius: 50%;
  &:before {
    content: "";
    position: absolute;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    width: 14px;
    height: 14px;
    top: 12px;
    left: 9.5px;
    transform: rotate(135deg);
  }
  img {
    width: 100%;
  }
}
