body {
  background-color: #fff9f4;
}
.wrapper {
  overflow: clip; /* //позволяет работать с position: sticky; */
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex-grow: 1;
}
[class*="__container"] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}
// Шрифти
@import "_fonts.scss";
// Обнулення стилів
@import "_reset.scss";
// Загальні стилі
@import "_common-btn.scss";
@import "_common-title.scss";
// Стилі секцій
@import "_header.scss";
@import "_main.scss";
@import "_design.scss";
@import "_products.scss";
@import "_develop.scss";
@import "_suggestion.scss";
@import "_feedback.scss";
@import "_promotion.scss";
@import "_footer.scss";
// Додаткові секції
@import "_modal.scss";
@import "_pageUp.scss";
