.header {
  position: fixed;
  @include adaptiveValue("top", 32, 15, 0, 1200, 480);
  left: 0;
  width: 100%;
  z-index: 50;
  @media (max-width: toEm(480)) {
    top: 0;
  }

  /* .header__block */

  &__block {
    @include adaptiveValue("padding-left", 33, 8, 0, 1200, 480);
    @include adaptiveValue("padding-right", 33, 8, 0, 1200, 480);
    padding-top: toRem(20);
    padding-bottom: toRem(20);
    background-color: #fff;
    border-radius: toRem(20);
    @media (max-width: toEm(480)) {
      border-radius: toRem(0);
      margin: toRem(0) toRem(-15);
    }
    display: flex;
    align-items: center;
    //flex-wrap: wrap;
    justify-content: space-between;
    gap: toRem(10);
    @media (max-width: toEm(660)) {
      flex-wrap: wrap;
    }
  }

  /* .header__logo */

  &__logo {
  }

  /* .header__menu */

  &__menu {
  }

  /* .header__menu-burger */

  &__menu-burger {
  }

  /* .header__currency */

  &__currency {
    flex: 0 0 toRem(98);
  }

  /* .header__socials */

  &__socials {
  }

  /* .header__contacts */

  &__contacts {
    flex: 0 0 toRem(133);
  }
}
.menu {
  /* .menu__body */
  @media (max-width: $tablet) {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: auto;
    left: -100%;
    transition: left 0.3s;
    z-index: 2;
    background-color: #f2f3f7;
    padding: toRem(70) toRem(15) toRem(30) toRem(15);
    /*    &::before {
      content: "";
      position: fixed;
      width: 100%;
      @include adaptiveValue("height", 109, 66);
      background-color: #eb0606;
      z-index: 3;
      top: 0;
      left: -100%;
      transition: left 0.3s;
      border-bottom: toRem(1) solid #bebcbd;
    } */
    .menu-open & {
      left: 0;
      /*   &::before {
        left: 0;
      } */
    }
  }
  &__body {
    @media (max-width: $tablet) {
      &:not(:last-child) {
        margin-bottom: toRem(65);
      }
    }
  }

  /* .menu__list */

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: toRem(5);
    @include adaptiveValue("column-gap", 32, 15, 0, 1200, 769);
    @media (max-width: $tablet) {
      flex-direction: column;
      align-items: baseline;
      row-gap: toRem(24);
    }
  }

  /* .menu__item */

  &__item {
    display: block;
  }

  /* .menu__link */

  &__link {
    line-height: 1.4;
    transition: color 0.3s ease;
    color: $primaryDark;

    @media (any-hover: hover) {
      &:hover {
        color: $primaryLight;
      }
    }
  }
}

.burger-menu {
  /* .burger-menu__list */

  display: none;
  @media (max-width: $tablet) {
    display: flex;
    align-items: center;
    gap: toRem(18);
  }
  &__link-phone {
    display: none;
    @media (max-width: toEm(480)) {
      width: toRem(30);
      height: toRem(30);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: toRem(7);
      border-radius: 50%;
      transition: background-color 0.3s ease;
      background-color: $primaryLight;
    }
  }
  &__list {
    display: none;
    @media (max-width: $tablet) {
      display: block;
    }
    @media (max-width: toEm(480)) {
      display: none;
    }
  }

  &__item {
  }
  &__link {
  }
}

.icon-menu {
  @media (min-width: toEm(480)) and (max-width: $tablet) {
    .menu-open & {
      position: fixed;
      top: toRem(29);
      right: toRem(10);
    }
  }
  @media (max-width: $tablet) {
    display: block;
    position: relative;
    flex: 0 0 toRem(18);
    width: toRem(18);
    height: toRem(13);
    z-index: 5;
    @media (any-hover: none) {
      cursor: default;
    }
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: toRem(2);
      background-color: #000;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - toRem(1));
    }
    .menu-open & {
      span {
        width: 0;
      }
      &::before,
      &::after {
      }
      &::before {
        top: calc(50% - toRem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - toRem(1));
        transform: rotate(45deg);
      }
    }
    .menu-open body {
      overflow: hidden;
    }
  }
}
.currency {
  /* .currency__first */
  &__label {
    font-weight: 700;
    &:not(:last-child) {
      margin-bottom: toRem(16);
    }
  }
  display: flex;
  flex-direction: column;
  row-gap: toRem(4);
  &__item {
    line-height: 1.4;
    span {
      color: $primaryLight;
      font-weight: 700;
    }
  }
  @media (max-width: toEm(611)) {
    display: none;
  }
}

.socials {
  /* .social__link */
  @media (max-width: toEm(480)) {
    display: none;
  }
  display: flex;
  gap: toRem(12);
  &__link {
    flex: 0 0 toRem(30);
    width: toRem(30);
    height: toRem(30);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: toRem(7);
    border-radius: 50%;
    transition: background-color 0.3s ease;
    &_bgBlue {
      background-color: #2aabee;
      @media (any-hover: hover) {
        &:hover {
          background-color: #006ca7;
        }
      }
    }
    &_bgGreen {
      background-color: #25d366;
      @media (any-hover: hover) {
        &:hover {
          background-color: #00a03b;
        }
      }
    }
    img {
      max-width: toRem(15);
      max-height: toRem(15);
    }
  }
}
.contacts {
  /* .contacts__label */
  @media (max-width: toEm(480)) {
    display: none;
  }
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  line-height: 1.4;
  gap: toRem(4);
  color: $primaryDark;
  &__label {
    font-size: toRem(12);
  }

  /* .contacts__number */

  &__number {
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.currency,
.contacts,
.socials {
  &_menu {
    display: none;
  }
}
.currency {
  &_menu {
    @media (max-width: $tablet) {
      display: block;
      &:not(:last-child) {
        margin-bottom: toRem(32);
      }
    }
  }
}
.contacts {
  &_menu {
    @media (max-width: $tablet) {
      display: flex;
      align-items: baseline;
      &:not(:last-child) {
        margin-bottom: toRem(16);
      }
    }
  }
}
.socials {
  &_menu {
    @media (max-width: $tablet) {
      display: flex;
    }
  }
}
.overflow {
  overflow: hidden;
}
