.button {
  white-space: nowrap;
  display: inline-flex;
  color: #8a33fd;
  font-size: 18px;
  font-family: "Causten";
  font-weight: 500;
  min-height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 46px;
  border-radius: 8px;
  border: 1px solid #3c4242;
}
