.header {
}
.header__container {
}
.container {
}
.header__logo {
}
.header__link {
}
.header__nav {
}
.nav-header {
}
.nav-header__list {
}
.nav-header__item {
}
.nav-header__link {
}
.nav-header__link_1 {
  color: rgb(227, 8, 8);
}
.nav-header__link_2 {
  color: rgba(227, 81, 8, 0.728);
}
.nav-header__link_3 {
  color: rgb(219, 234, 8);
}
.nav-header__link_4 {
  color: rgb(126, 244, 14);
}
