.drawing-car {
  position: relative;
  min-height: 100vh;
}

.drawing-car__rus {
  opacity: 0;
  position: absolute;
  bottom: 20px;
  left: 450px;
  width: 100px;
  height: 100px;
  animation-name: rus;
  animation-duration: 6s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-delay: 2s;
  animation-direction: alternate;
}
@keyframes rus {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.drawing-car__rus::before {
  position: absolute;
  content: "";
  top: 67px;
  left: 38px;
  width: 25px;
  height: 25px;
  background: url(../img/ru.webp) 50% / cover no-repeat;
}
.drawing-car__rus img {
  max-width: 100%;
}
.drawing-car__comment {
  bottom: 134px;
  left: 270px;
  animation-name: president-comment;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-delay: 20s;
}
.comment {
  opacity: 0;
  font-size: 11px;
  line-height: 1.5;
  padding: 20px;
  color: #04efb8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: absolute;
  z-index: 50;
  width: 109px;
  min-height: 53px;
  background: #473b3b;
  border-radius: 10px;
}
@keyframes president-comment {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}
.comment::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: -23.5px;
  border-top: 12px solid transparent;
  border-left: 24px solid #000;
  border-bottom: 12px solid transparent;
}

.zaluzh {
  position: relative;
  top: 315px;
  left: 12%;
  width: 200px;
  height: 150px;
}
.zaluzh img {
  max-width: 100%;
  opacity: 0;
  animation-name: zaluzh;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-delay: 28s;
}
@keyframes zaluzh {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}
.zaluzh__comment {
  opacity: 0;
  top: 10px;
  right: 142px;
  animation-name: zaluzh-comment;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-delay: 28s;
}

@keyframes zaluzh-comment {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}

.budanov {
  position: relative;
  top: 128px;
  left: 420px;
  width: 195px;
  height: 150px;
}
.budanov img {
  max-width: 100%;
  opacity: 0;
  animation-name: budanov;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-delay: 36s;
}
@keyframes budanov {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}
.budanov__comment {
  opacity: 0;
  top: -25px;
  right: 142px;
  animation-name: budanov-comment;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-delay: 36s;
}
@keyframes budanov-comment {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}

.arestov {
  position: relative;
  top: -90px;
  left: 600px;
  width: 195px;
  height: 150px;
}
.arestov img {
  max-width: 100%;
  opacity: 0;
  animation-name: arestov;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-delay: 45s;
}
@keyframes arestov {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}
.arestov__comment {
  opacity: 0;
  top: 20px;
  right: 142px;
  animation-name: arestov-comment;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-delay: 45s;
}
@keyframes arestov-comment {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}
.comment {
}
.drawing-car::before {
  opacity: 0.6;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background: url("../img/car-bg.jpg") 0 100% / cover no-repeat;
}
.drawing-car__container {
  max-width: 1000px;
  position: relative;
  z-index: 5;
  position: absolute;
  bottom: 3%;
  left: 5%;
}
.drawing-car__body {
  width: 484px;
  height: 166px;
  position: relative;
  left: 30%;
  animation: driving-the-road 10s cubic-bezier(0.13, 1.47, 0.97, -0.34) 1,
    stop-the-road 10s ease 1 normal running 10s;
  /*  animation-name: driving-the-road;
  animation-duration: 10s;
  animation-timing-function: cubic-bezier(0.13, 1.47, 0.97, -0.34);
  animation-iteration-count: 1;
  animation-name: stop-the-road;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-delay: 10s;
 */
}
@keyframes driving-the-road {
  0% {
    left: -120%;
  }

  100% {
    left: 260%;
  }
}
@keyframes stop-the-road {
  0% {
    left: -120%;
  }

  100% {
    left: 30%;
  }
}
.body-car__front-wheel {
  right: 38.5px;
  bottom: 4px;
}
.body-car__back-wheel {
  z-index: 20;
  left: 118.5px;
  bottom: 4px;
}
.body-car__front-wheel,
.body-car__back-wheel {
  position: absolute;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  border: 10px solid #6d6a6a;
  background-color: #252525;
  z-index: 5;
  /* animation-name: rotate-wheel-front;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; */
  animation: rotate-wheel-front 1s linear 4,
    rotate-wheel-back 1s linear 4 normal running 3.5s,
    rotate-wheel-front 1s linear 11 normal running 7.5s;
}

@keyframes rotate-wheel-front {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-wheel-back {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.wheel-front__inside-part,
.wheel-back__inside-part {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  bottom: 50%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px dotted #6d6a6a;
  background-color: #b79090;
  z-index: -5;
}
.part-inside::before {
  content: "";
  top: 11px;
  left: -1px;
  width: 100%;
  height: 2px;
  background-color: #04efac;
  position: absolute;
  border-radius: 50%;
  transform: rotate(317deg);
}
.part-inside::after {
  content: "";
  top: 11px;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: #04efac;
  position: absolute;
  border-radius: 50%;
  transform: rotate(43deg);
}
.part-inside__axis {
  position: absolute;
  transform: translate(-50%, 50%);
  bottom: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgb(39 15 230);
  z-index: 10;
}

.front-part__body {
  box-shadow: -14px 6px 11px 1px rgba(255, 255, 0, 0.986);
  border-top: 2px solid grey;
  position: absolute;
  bottom: 27px;
  right: 0;
  width: 130px;
  height: 85px;
  background-color: #d20000;
  border-radius: 0% 100% 15% 85% / 100% 28% 72% 0%;
  animation-name: colorYellow;
  animation-duration: 0.8s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes colorYellow {
  0% {
    box-shadow: -14px 6px 11px 1px rgba(255, 255, 0, 0.2);
  }
  100% {
    box-shadow: -14px 6px 11px 1px rgba(255, 255, 0, 0.986);
  }
}
.front-part__bamper {
  position: relative;
}
.bamper {
  position: absolute;
  width: 38px;
  height: 38px;
  bottom: -3px;
  right: -15px;
}
.bamper__first-part {
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 10px;
  border: 1px solid #000;
  background-color: #cecece;
  border-radius: 11% 0% 12% 44% / 12% 0% 19% 63%;
}
.bamper__second-part {
  position: absolute;
  top: 9px;
  left: 19px;
  width: 8px;
  height: 8px;
  transform: skew(-25deg, 0deg);
  border: 1px solid #000;
  background-color: #cecece;
}
.bamper__third-part {
  position: absolute;
  top: -3px;
  left: 29px;
  width: 10px;
  height: 30px;
  transform: skew(-25deg, 0deg);
  border: 1px solid #000;
  background-color: #cecece;
  border-radius: 84% 90% 100% 39% / 0% 39% 97% 37%;
}
.front-part__line {
  position: absolute;
  bottom: 55px;
  left: -17px;
  width: 113%;
  height: 2px;
  border: 5px solid #000;
  border-radius: 24% 146% 2% 85%;
  z-index: 5;
  transform: rotate(5deg);
}
.turn-signal {
  position: absolute;
  bottom: 43px;
  right: 30px;
  width: 7px;
  height: 7px;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: orange;
}
.front-part__wheels-position {
  position: absolute;
  bottom: 0;
  left: 20.5px;
  width: 74px;
  height: 50px;
  border-radius: 51% 49% 0% 27% / 59% 59% 0% 0%;
  border-left: 2px solid grey;
  border-right: 2px solid grey;
  border-top: 2px solid grey;
  background-color: #252525;
}
.front-part__light {
  transform: skew(341deg, 14deg);
  position: absolute;
  top: 13px;
  right: -1px;
  width: 30px;
  height: 10px;
  border-radius: 21% 79% 7% 100% / 36% 74% 26% 64%;
  border: 1px solid #000;
  background: #fff;
}
.front-part__light::before {
  transform-origin: 0 0;
  transform: rotate(333deg);
  position: absolute;
  top: 2px;
  left: 12px;
  z-index: 4;
  content: "";
  width: 9px;
  height: 9px;
  background-color: #b79090;
  border-radius: 4% 96% 0% 100% / 1% 100% 0% 99%;
}

.front-part__light::after {
  transform-origin: 0 0;
  transform: rotate(339deg);
  position: absolute;
  bottom: 2px;
  right: 1px;
  z-index: 3;
  content: "";
  width: 4px;
  height: 4px;
  background-color: #d5fb00;
  border-radius: 4% 96% 0% 100% / 1% 100% 0% 99%;
}

.part-middle__cabine {
  position: absolute;
  top: -5px;
  right: 264px;
  border-radius: 69% 0% 10% 80% / 100% 32% 0% 0%;
  width: 76px;
  height: 60px;

  background-color: #d20000;
}
.cabine__front-side {
  position: absolute;
  bottom: -1px;
  left: 75px;
  height: 0;
  width: 136px;
  border-bottom: 62px solid #d20000;
  border-left: 0px solid transparent;
  border-right: 59px solid transparent;
}
.body-middle__front-handle,
.body-middle__back-handle {
  position: absolute;
  top: 10px;
  left: 30px;
  height: 7px;
  width: 15px;
  background-color: #bdb8b8;
  border: 1px solid #000;
  border-radius: 8% 8% 10% 10% / 27% 27% 29% 30%;
}
.body-middle__back-handle {
  top: 10px;
  left: 119px;
}
.body-middle__front-handle::before,
.body-middle__back-handle::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 2.5px;
  height: 4px;
  width: 8.5px;
  background-color: #bdb8b8;
  border: 1px solid #000;
  border-radius: 8% 8% 10% 10% / 27% 27% 29% 30%;
  z-index: 4;
}
.body-middle__front-handle::after,
.body-middle__back-handle::after {
  content: "";
  position: absolute;
  top: 4.5px;
  left: 2.5px;
  height: 4px;
  width: 9px;
  background-color: #d20000;
  border: 1px solid #000;
  border-radius: 8% 8% 10% 10% / 27% 27% 29% 30%;
}
.body-middle__back-handle {
}
.part-middle__body {
  border-top: 2px solid grey;
  box-shadow: -14px 6px 11px 1px rgba(0, 0, 255, 0.6);
  position: absolute;
  top: 54px;
  left: 145px;
  width: 210px;
  height: 85px;
  background-color: #d20000;
  animation-name: colorBlue;
  animation-duration: 0.8s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes colorBlue {
  0% {
    box-shadow: -14px 6px 11px 1px rgba(0, 0, 255, 0.2);
  }
  100% {
    /* box-shadow: -14px 6px 11px 1px rgba(255, 255, 0, 0.986); */
    box-shadow: -14px 6px 11px 1px rgba(0, 0, 255, 0.9);
  }
}

.part-middle__body::after {
  z-index: 5;
  content: "";
  position: absolute;
  top: 0;
  right: 16px;
  height: 100%;
  width: 4px;
  background-color: grey;
}
.part-middle__body::before {
  z-index: 5;
  content: "";
  position: absolute;
  top: -1px;
  left: 13px;
  height: 35px;
  width: 4px;
  background-color: grey;
}
.body-middle__middle-line {
  position: absolute;
  top: 0;
  right: 109px;
  width: 7px;
  height: 100%;
  background-color: grey;
}

.flower {
  position: relative;
  top: 19px;
  left: 136px;
  width: 20px;
  height: 20px;
  border: 3px solid #000000;
  background: #63eb48;
  transform: rotate(45deg);
}

.flower:before,
.flower:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 50px;
  border: 3px solid #000000;
  transform: rotate(-45deg);
}
.flower:before {
  background: yellow;
  border-radius: 0 100% 50% 90%;
}
.flower:after {
  left: 10px;
  top: -10px;
  background: blue;
  border-radius: 100% 0 90% 50%;
}
.body-middle__wheels-position {
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: -29.5px;
  width: 74px;
  height: 50px;
  border-radius: 51% 49% 0% 27% / 59% 59% 0% 0%;
  border-left: 2px solid grey;
  border-right: 2px solid grey;
  border-top: 2px solid grey;

  background-color: #252525;
}
.cabine__front-window {
  transform-origin: 0 0;
  transform: rotate(229deg);
  border-radius: 126% 26% 67% 92% / 125% 65% 77% 1%;
  position: absolute;
  bottom: -77px;
  left: 125px;
  width: 82px;
  height: 11px;
  background-color: #3f3c3c;
  z-index: 50;
}
.cabine__middle-window {
  position: absolute;
  top: 3px;
  left: 65px;
  border-left: 54px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 56.7px solid #3f3c3c;
  transform: rotateY(180deg);
  border-top-right-radius: 6px;
}
.cabine__middle-window::before {
  position: absolute;
  content: "";
  width: 43px;
  height: 56px;
  top: 0px;
  left: -4px;
  background-color: #3f3c3c;
  border-top-left-radius: 7px;
  border-top-right-radius: 5px;
}

.cabine__back-window {
  border-top-left-radius: 56px;
  border-top-right-radius: 5px;
  position: absolute;
  top: 2px;
  left: 13px;
  width: 82px;
  height: 56px;
  transform: rotate(365deg) skew(5deg, 355deg);

  overflow: hidden;
  z-index: 50;
}
.cabine__back-window::before {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url("../img/president.jpg") 50% / cover no-repeat;
}

.cabine__back-window::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 56px;
  background-color: #3f3c3c;
  border-top-left-radius: 56px;
  border-top-right-radius: 5px;
  transition: height 0.8s linear;
  animation-name: president;
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-delay: 20s;
  animation-direction: alternate;
}
@keyframes president {
  0% {
    height: 56px;
  }
  50% {
    height: 0;
  }
  100% {
    height: 56px;
  }
}

.cabine__back-window2 {
  position: absolute;
  top: 9px;
  left: 27px;
  width: 14px;
  height: 61px;
  transform-origin: 0 0;
  transform: rotate(28deg);
  border-radius: 50%;
  box-shadow: -8px -3px 0 0 #3f3c3c;
}
/* .cabine__back-window::before {
  position: absolute;
  content: "";
  top: 6px;
  left: 13px;
  width: 14px;
  height: 60px;
  transform-origin: 0 0;
  transform: rotate(28deg);
  border-radius: 50%;
  box-shadow: -8px -3px 0 0 #ffffff;
} */
.part-back {
  bottom: 27px;
  left: 78px;
  position: absolute;
  height: 85px;
  width: 68px;
  background-color: #d20000;
  border-top: 2px solid grey;
  border-radius: 71% 0 0 20%;
}
.part-back__bamper {
  transform: rotateY(177deg);
  right: 49px;
}
.part-back__light {
  position: absolute;
  top: 0px;
  left: 11px;
  width: 22px;
  height: 30px;
  transform-origin: 0 0;
  transform: rotate(10deg);
  background: #fff;
  border-radius: 99% 0;
}
.part-back__light::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 5px;
  width: 9px;
  height: 8px;
  transform-origin: 0 0;
  transform: rotate(-10deg);
  background: orange;
  border-radius: 100% 0;
}
.part-back__light::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 2px;
  width: 9px;
  height: 8px;
  transform-origin: 0 0;
  transform: rotate(-10deg);
  background: yellow;
  border-radius: 100% 0;
}
.part-back__exhaust-pipe {
  z-index: -2;
  position: absolute;
  bottom: -5px;
  left: 2px;
  width: 26px;
  height: 7px;
  background-color: #000;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.part-back__exhaust-pipe::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: -1px;
  width: 7px;
  height: 5px;
  background: grey;
  border-radius: 100px/50px;
  transform-origin: 0 0;
  transform: rotate(-88deg);
}
