//--------------------------------------- Colors ---------------------------------------//
$mainBgColor: #fff9f4;
$mainDarkColor: #0e333d;
$activeMenuLinkColor: #d58417;
$hoverBtnColor: #1b3840;
