.products {
  /* .products__wrapper */

  &__wrapper {
    padding: 94px 0;
    background-color: #0e333d;
  }
  /* .products__common-title-block */

  &__common-title-block {
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 34px;
    }
  }

  /* .products__tabs */

  &__tabs {
  }
}
.tabs {
  /* .tabs__items */

  &__items {
    display: flex;
    justify-content: center;
    column-gap: 41px;
    flex-wrap: wrap;
    margin-bottom: 77px;
  }

  /* .tabs__item */

  &__item {
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-family: "Raleway";
    font-weight: 600;
    line-height: 1.26;
    letter-spacing: 1.2px;
    transition: 0.3s all ease;
    /* .tabs__item_active */
    &_active {
      text-decoration: underline;
      text-shadow: 0 0 2px #fff;
    }
  }

  /* .tabs__content */

  &__content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    row-gap: 30px;
  }

  /* .tabs__column */

  &__column {
    padding: 0 15px;
    flex: 0 1 25%;
  }

  /* .tabs__inner */

  &__inner {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  /* .tabs__link */

  &__link {
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 15px;
    img {
      border-radius: 5px;
      width: 100%;
      height: 100%;
      aspect-ratio: 271 / 270;
      object-fit: cover;
    }
  }

  /* .tabs__heading */

  &__heading {
    flex-grow: 1;
    margin-bottom: 4px;
  }
  &__heading,
  &__inner span {
    color: white;
    font-size: 24px;
    font-family: "Cormorant Infant";
    font-weight: 700;
    line-height: 1.4;
  }
}
.hide {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 970px) {
  .main {
    &__products {
      margin-bottom: 70px;
    }
  }
  .products {
    &__wrapper {
      padding: 60px 0;
    }
  }
  .tabs {
    &__column {
      flex: 1 1 50%;
    }
  }
}
@media (max-width: 752px) {
  .main {
    &__products {
      margin-bottom: 50px;
    }
  }
}
@media (max-width: 527px) {
  .main {
    &__products {
      margin-bottom: 30px;
    }
  }
  .products {
    &__wrapper {
      padding: 30px 0;
    }
  }
  .tabs {
    &__column {
      flex: 1 1 100%;
    }
    &__items {
      flex-direction: column;
      align-items: center;
      row-gap: 30px;
      margin-bottom: 30px;
    }
    &__item {
      font-size: 22px;
      line-height: 2;
    }
  }
}
@media (hover: hover) {
  .tabs {
    &__link {
      img {
        transition: 0.3s all;
      }
    }
  }
  .tabs {
    &__link {
      &:hover img {
        transform: scale(1.05);
      }
    }
  }
}
