.reviews {
  /* .reviews__title */

  &__title {
    text-align: center;
    margin-bottom: 64px;
    /*  transform: translateY(50%); */
    transform: scale(0) rotate(0deg);
    opacity: 0;

    transition: all 1.2s ease-in-out;
  }
  &__title._active {
    /* transform: translateY(0); */
    transform: scale(1);
    transform: scale(1) rotate(360deg);
    /* transform: rotateX(360deg); */
    opacity: 1;
  }
  /* .reviews__body */

  &__body {
  }
}
.body-reviews {
  /* .body-reviews__column */
  padding-top: 64px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 85px;
  margin: 0 -40px;
  &__column {
    padding: 0 40px;
    flex: 0 1 33.333%;
    transform: translateY(60%);
    opacity: 0;
    transition: all 0.8s ease-in;
  }
  /* &__column._active {
    &:nth-child(1) {
      transition: transform 0.8s ease-in 0s;
    }
    &:nth-child(2) {
      transition: transform 0.8s ease-in 0.8s;
    }
    &:nth-child(3) {
      transition: transform 0.8s ease-in 1.6s;
    }
  } */
  &__column._active {
    opacity: 1;
    transform: translateY(0);
  }
  /* .body-reviews__item */

  &__item {
    position: relative;
    padding: 85px 32px 32px 32px;
    background-color: #666666;
    border: 5px solid #838383;
  }

  /* .body-reviews__img */

  &__img {
    &_diff-size {
      width: 117px;
      height: 117px;
    }
    overflow: hidden;
    position: absolute;
    top: -64px;
    left: 50%;
    transform: translateX(-50%);
    width: 121.14px;
    height: 117px;
    border-radius: 50%;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  /* .body-reviews__text */

  &__text {
    color: $textColor;
    line-height: lineHeight(22, 16);
    text-align: center;
    margin-bottom: 32px;
  }

  /* .body-reviews__list */

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  &__list-item {
    flex: 0 0 26px;
    height: 26px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

@media (max-width: $laptop) {
  .body-reviews {
    &__column {
      flex: 0 1 50%;
    }
  }
}
@media (max-width: $tablet) {
  .body-reviews {
    &__column {
      flex: 1 1 100%;
    }
  }
}
@media (max-width: $mobile) {
  .reviews {
    &__title {
      margin-bottom: 35px;
    }
  }
}
