.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  background-color: #fff;
  border-bottom: 1px solid rgba(130.69, 130.69, 130.69, 0.21);
}
.header__container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.header__box {
  display: flex;
  align-items: center;
  gap: 10px;
  min-height: 106px;
}
.header__logo {
  position: relative;
  z-index: 5;
  padding-right: 10px;
  white-space: nowrap;
  font-size: 30px;
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 700;
}

.menu {
  flex: 1 1 auto;
}

.menu__list {
  display: flex;
  justify-content: center;
  column-gap: 36px;
  row-gap: 10px;
  flex-wrap: wrap;
}
.menu__item_active .menu__link {
  font-weight: 700;
  color: #d58417;
  text-decoration: underline;
}
.menu__item_parent {
  position: relative;
}
.menu__link {
  font-size: 20px;
  font-family: "Merriweather";
  line-height: 1;
}

.actions {
  display: flex;
  align-items: center;
  column-gap: 25px;
}
.actions__link {
  flex: 0 0 32px;
  position: relative;
}
.actions__link span {
  display: block;
  width: 12px;
  height: 12px;
  background-color: #ff3333;
  font-size: 8px;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 12px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: absolute;
  top: 0;
  right: 0;
}
.actions__link img {
  max-width: 100%;
}
.menu__item_parent .menu__link {
  display: flex;
  align-items: center;
  gap: 10px;
}
.menu__item_parent .menu__link::after {
  content: "";
  flex: 0 0 9.5px;
  width: 9.5px;
  height: 9px;
  border-left: 2px solid #383737;
  border-bottom: 2px solid #383737;
  transform: rotate(-225deg);
  transition: transform 0.3s;
}

.sub-menu__list {
  padding-top: 10px;
  min-width: 150px;
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.6);
  /* transform: translate(-40%, 0px); */
  pointer-events: none;
  transition: all 0.3s;
}
.icon-menu {
  display: none;
}
.sub-menu__link {
  border: 1px solid #185768;
  color: #fff;
  display: block;
  background-color: #0e333d;
  padding: 10px 20px;
  font-family: "Merriweather";
  line-height: 1;
  letter-spacing: 1.2px;
}
.sub-menu__link:hover {
  background-color: #355d68;
}

@media (max-width: 1017px) {
  .header__box {
    min-height: 60px;
  }
  .header__link {
    z-index: 5;
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    bottom: -100%;
    left: 0;
    transition: bottom 0.3s;
    padding: 150px 15px 30px 15px;
    background-color: #fff9f4;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 60px;
    top: -100%;
    right: 0;
    z-index: 2;
    transition: top 0.3s;
    background-color: #9c9b9b;
  }
  .menu-open .menu__body {
    bottom: 0;
  }
  .menu-open .menu__body::before {
    top: 0;
  }
  .menu__list {
    flex-direction: column;
    text-align: right;
    row-gap: 28px;
  }
  .menu__item_parent .menu__link {
    display: block;
  }
  .menu__link {
    font-size: 32px;
  }
  .menu__item_parent .menu__link::after {
    display: none;
  }
  .sub-menu__list {
    position: relative;
    visibility: visible;
    opacity: 1;
    padding-top: 10px;
    transform: scale(1);
  }
  .sub-menu__link {
    font-size: 20px;
    padding: 18px 20px;
  }
  .icon-menu {
    width: 30px;
    display: block;
    flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
  }
  .icon-menu::before,
  .icon-menu::after,
  .icon-menu span {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    transition: all 0.3s;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: 50%;
    margin-top: -1px;
  }
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: 50%;
    margin-top: -1px;
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    bottom: 50%;
    margin-bottom: -1px;
  }
}

@media (max-width: 460px) {
  .header__box {
    gap: 10px;
  }
}
@media (max-width: 430px) {
  .header__logo {
    padding-right: 0;
    font-size: 20px;
  }
  .header__box {
    gap: 15px;
  }
  .actions {
    column-gap: 5px;
  }
}
@media (hover: hover) {
  .actions__link {
    transition: transform 0.3s ease;
  }
  .actions__link:hover {
    transform: scale(1.04);
  }
  .sub-menu__list {
    transition: all 0.3s;
  }
  .menu__item_parent:hover .menu__link::after {
    transform: rotate(-45deg);
    transition: 0.3s;
  }
  .menu__item:hover .menu__link {
    text-decoration: underline;
    text-shadow: 0 0 0.6px #000000;
  }
  .menu__item_active:hover:nth-child(2) .menu__link,
  .menu__item_active:hover:nth-child(1) .menu__link {
    text-shadow: none;
  }
  .menu__item_parent:hover .sub-menu__list {
    opacity: 1;
    /* transform: translate(0px, 0px); */
    transform: scale(1);
    visibility: visible;
    pointer-events: all;
  }
}
