.feedback {
  /* .feedback__common-title-block */

  &__common-title-block {
    text-align: center;
    margin-bottom: 90px;
  }
  &__dots {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 10px;

    &:before,
    &::after {
      content: "";
      flex: 0 0 8px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #d8d8d8;
    }
  }
}

.body-feedback {
  /* .body-feedback__block */
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  position: relative;
  &__block {
    padding: 0 15px;
    flex: 0 1 50%;
  }
  &__item {
    padding: 48px 48px 50px 48px;
    border-radius: 12px;
    background-color: #fff;
    &_active {
      background-color: $mainDarkColor;
    }
  }

  /* .body-feedback__text */

  &__text {
    color: #323232;
    font-size: 18px;
    font-family: "Inter";
    line-height: 1.8;
    &:not(:last-child) {
      margin-bottom: 33px;
    }
    &_active {
      color: #fff;
    }
  }

  /* .body-feedback__info */

  &__info {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  /* .body-feedback__image */

  &__image {
    flex: 0 1 56px;
    img {
      max-width: 100%;
      height: 56px;
      border-radius: 50%;
    }
  }

  /* .body-feedback__name */

  &__name {
    color: #323756;
    font-size: 20px;
    font-family: "Inter";
    font-weight: 500;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    &_active {
      color: #fff;
    }
  }
  &__position {
    color: #646464;
    font-size: 16px;
    font-family: "Inter";
    &_active {
      color: #a5a5a5;
    }
  }
}
@media (max-width: 970px) {
  .main {
    &__feedback {
      margin-bottom: 70px;
    }
  }
  .feedback {
    &__common-title-block {
      margin-bottom: 60px;
    }
    &__dots {
      margin-top: 30px;
    }
  }
  .body-feedback {
    margin: 0;
    gap: 20px;
    &__block {
      flex: 1 1 100%;
      padding: 0;
    }
    &__item {
      padding: 20px;
    }
    &__text {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}
@media (max-width: 725px) {
  .main {
    &__feedback {
      margin-bottom: 50px;
    }
  }
}
@media (max-width: 645px) {
  .common-title-block {
    &__title {
      font-size: 40px;
    }
  }
}
@media (max-width: 527px) {
  .feedback {
    &__common-title-block {
      margin-bottom: 20px;
    }
  }
}
@media (max-width: 440px) {
  .common-title-block {
    &__title {
      font-size: 32px;
    }
  }
  .body-feedback {
    &__text {
      font-size: 16px;
    }
  }
  .feedback {
    &__dots {
      margin-top: 15px;
    }
  }
}
