.footer {
  border-top: 1px solid #636262;
  padding: 43px 0;
  /* .footer__body */

  &__body {
  }
}
.body-footer {
  /* .body-footer__column */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 15px;
  row-gap: 30px;
  &__column {
  }

  /* .body-footer__content */

  &__content {
  }

  /* .body-footer__logo */

  &__logo {
    color: $titleColor;
    font-size: 36px;
    font-family: "Marcellus";
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  /* .body-footer__social-box */

  &__social-box {
  }

  /* .body-footer__title */

  &__title {
    color: $titleColor;
    font-size: 24px;
    font-family: "Marcellus";
    &:not(:last-child) {
      margin-bottom: 23px;
    }
  }

  /* .body-footer__list */

  &__list {
    display: grid;
    gap: 15px;
  }

  /* .body-footer__item */

  &__item {
  }

  /* .body-footer__link */

  &__link {
    color: $titleColor;
    line-height: lineHeight(18, 16);
  }

  /* .body-footer__mail-link */

  &__mail-link {
    display: block;
    color: $titleColor;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  /* .body-footer__tel-link */

  &__tel-link {
    color: $titleColor;
  }

  /* .body-footer__text */

  &__text {
    color: $titleColor;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  /* .body-footer__form */

  &__form {
  }
}
.box-social {
  /* .box-social__item */
  display: flex;
  /* align-items: center */
  gap: 10px;
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 25px;
    width: 25px;
    height: 25px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
.form-footer {
  /* .form-footer__input */
  display: flex;
  &__input {
    padding: 17px 21px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    flex: 1 1 auto;
    &::placeholder {
      color: rgba(0, 0, 0, 0.35);
    }
  }

  /* .form-footer__button */

  &__button {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #666;
    @include linkStyle(53px, 10px 45px, 18px, $titleColor);
  }
}

@media (max-width: $laptop) {
  .body-footer {
    justify-content: space-evenly;
    &__column {
      &:last-child {
        flex: 1 1 100%;
      }
    }
  }
}
@media (max-width: 550px) {
  .body-footer {
    text-align: center;
    &__column {
      flex: 1 1 100%;
    }
  }
  .box-social {
    justify-content: center;
  }
}
@media (max-width: $mobile) {
  .footer {
    padding: 20px 0;
  }
  .form-footer {
    flex-direction: column;
    &__input {
      border-top-right-radius: 10px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    &__button {
      border-top-right-radius: 0;
      border-bottom-left-radius: 10px;
    }
  }
}
@media (hover: hover) {
  .box-social {
    &__item {
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(0.9);
      }
    }
  }
  .body-footer {
    &__link,
    &__mail-link,
    &__tel-link {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .form-footer {
    &__button {
      transition: background-color 0.3s ease;
      &:hover {
        background-color: #818181;
      }
    }
  }
}
