@import url("fonts.css");
@import url("reset.css");
@import url("develop.css");
@import url("clothing.css");
@import url("project.css");
@import url("licencing.css");
body {
  font-family: "Inter", sans-serif;
}
.wrapper {
  overflow: hidden;
}
