.contact {
  /* .contact__title */

  &__title {
    text-align: center;
    margin-bottom: 66px;
    transform: translate(0px, -100%);
    opacity: 0;
    transition: all 0.8s ease-in 0.5s;
  }
  &__title._active {
    opacity: 1;
    transform: translate(0px, 0px);
  }
  /* .contact__body */

  &__body {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    transform: translateX(200%);
    transition: all 0.8s ease-out;
  }
  &__body._active {
    transform: translateX(0);
  }
  /* .contact__item */

  &__item {
    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 610 / 381;
      object-fit: cover;
    }
    flex: 0 1 50%;
    &:nth-child(2) {
      background-color: #666666;
      padding: 92px 20px 70px 50px;
    }
  }
  &__decor {
    width: 150px;
    height: 150px;
    position: absolute;
    top: -68px;
    left: -54px;
    opacity: 0.2;
    z-index: -2;
    img {
      max-width: 100%;
      min-height: 100%;
    }
    &:before {
      position: absolute;
      content: "";
      top: -23px;
      left: -11px;
      width: 80px;
      height: 80px;
      background: url("../img/hero/decor2.svg") no-repeat;
      background-size: 80px 80px;
    }
  }
  /* .contact__form */
}

.form-contact {
  /* .form-contact__block */

  &__block {
    display: grid;
    gap: 30px;
    margin-bottom: 25px;
  }

  /* .form-contact__box */

  &__box {
    background-color: #666666;
    input {
      border-radius: 0;
      max-width: 450px;
      font-size: 20px;
      padding: 11px;
      width: 100%;
      background-color: transparent;
      color: #f5f5f58c;
      border-bottom: 1px solid #fff;
      &::placeholder {
        color: #f5f5f58c;
      }
      &:focus {
        /* border: 1px solid blue; */

        outline: 2px solid #d7a774;
        border-bottom: none;
      }

      &:-webkit-autofill {
        transition: all 5000s ease-in-out;
      }
    }
  }

  /* .form-contact__button */

  &__button {
    background-color: #fff;
    border-radius: 10px;
    @include linkStyle(35px, 5px 14px, 16px, #636262);
  }
}

@media (max-width: $laptop) {
  .contact {
    &__body {
      flex-direction: column;
    }
    &__item {
      &:nth-child(2) {
        padding: 30px 20px 30px 20px;
      }
    }
    &__decor {
      display: none;
    }
  }
  .form-contact {
    &__box {
      input {
        max-width: 70%;
        font-size: 25px;
      }
    }
  }
}
@media (max-width: $mobile) {
  .contact {
    &__title {
      font-size: 32px;
      margin-bottom: 25px;
    }
  }
  .form-contact {
    &__box {
      input {
        font-size: 17px;
        max-width: 100%;
      }
    }
  }
}
@media (hover: hover) {
  .form-contact {
    &__button {
      transition: all 0.3s ease;
      &:hover {
        box-shadow: 2px 2px 10px #313131;
      }
    }
  }
}
