.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.75);
  /*   transform: scale(0);
  opacity: 0;
  transition: all 0.8s ease-in; */
  /* .header__box */

  &__box {
    padding: 10px 0;
    min-height: 90px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  /* .header__logo */

  &__logo {
    position: relative;
    z-index: 5;
    color: $titleColor;
    font-size: 36px;
    font-family: "Marcellus";
  }

  /* .header__menu */

  &__menu {
    flex: 1 1 auto;
  }

  /* .header__actions */

  &__actions {
    flex: 0 1 9%;
  }
}
/* .header._active {
  transform: scale(1);
  opacity: 1;
} */
.menu {
  /* .menu__list */

  &__list {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 15px;
  }

  /* .menu__link */

  &__link {
    color: $titleColor;
    letter-spacing: 1.2px;
    line-height: 1.3;
    font-size: 18px;
  }
}
.actions-header {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 10px;
  &__basket-cart,
  &__phone {
    flex: 0 0 23px;
    width: 23px;
    height: 23px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__basket-cart {
    span {
      display: block;
      width: 13px;
      height: 13px;
      background-color: #d7a774;
      font-size: 9px;
      font-weight: 500;
      color: #000;
      border-radius: 50%;
      text-align: center;
      line-height: 13px;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  &__phone {
    display: none;
  }
}
.icon-menu {
  display: none;
}
@media (max-width: $tablet) {
  .menu {
    &__list {
      column-gap: 20px;
    }
  }
}
@media (max-width: 549px) {
  .header {
    &__box {
      column-gap: 15px;
    }
  }
  .menu {
    &__item:last-child {
      display: none;
    }
  }
  .actions-header {
    &__phone {
      display: block;
    }
  }
}
@media (max-width: $mobile) {
  .header {
    &__box {
      min-height: 60px;
    }
  }
  .menu {
    &__body {
      position: fixed;
      width: 100%;
      height: 100%;
      overflow: auto;
      left: -100%;
      top: 0;
      transition: left 0.3s;
      padding: 100px 15px 30px 15px;
      background-color: rgb(59, 59, 59);
      &:before {
        position: fixed;
        content: "";
        top: 0;
        right: -100%;
        width: 100%;
        height: 60px;
        z-index: 2;
        transition: right 0.3s;
        background-color: #7b7b7b;
      }
    }
    &__list {
      flex-direction: column;
      text-align: right;
      row-gap: 30px;
    }
    &__link {
      font-size: 32px;
    }
  }
  .menu-open .menu {
    &__body {
      &::before {
        right: 0;
      }
      left: 0;
    }
  }
  .icon-menu {
    width: 30px;
    display: block;
    flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
    &::before,
    &::after,
    span {
      content: "";
      height: 2px;
      width: 100%;
      position: absolute;
      left: 0;
      transition: all 0.3s;
      background-color: $titleColor;
    }
  }
  .icon-menu {
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: 50%;
      margin-top: -1px;
    }
  }
  .menu-open .icon-menu {
    span {
      transform: scale(0);
    }
  }
  .menu-open .icon-menu {
    &::before {
      transform: rotate(-45deg);
      top: 50%;
      margin-top: -1px;
    }
  }
  .menu-open .icon-menu {
    &::after {
      transform: rotate(45deg);
      bottom: 50%;
      margin-bottom: -1px;
    }
  }
  .menu-open body {
    overflow: hidden;
  }
}
@media (hover: hover) {
  .actions-header {
    &__basket-cart {
      transition: transform 0.3s ease-in;
      &:hover {
        transform: scale(1.06);
      }
    }
  }
  .menu {
    &__link {
      position: relative;
      &:after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        bottom: -3px;
        width: 0;
        height: 1.5px;
        background-color: rgba(154, 154, 154, 0.342);
        transition: width 0.5s;
      }
      &:hover:after {
        content: "";
        width: 100%;
        display: block;
        position: absolute;
        left: 0;
        bottom: -3px;
        height: 1.5px;
        background-color: #c7ac8f;
        transition: width 0.5s;
      }
    }
  }
}
